body {
    height:2000px;

}



.search {
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:10px;    

}

.search-fixed {
    position:fixed;
    top:0px;
    background-color:grey;
    margin-top:0px;
    width:100%;
   

    -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 2s;

}