
.stayInViewDefaultClass {
    position:fixed;
    top:0px;
    background-color:lightgray;
    width:100%;

    -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 2s;

}
